{{ if eq .chezmoi.osRelease.id "fedora" -}}
#!/bin/bash

# Fedora does not have Starship in its package manager
if ! command -v starship &>/dev/null; then
    echo "Starship not installed"

    if ! curl -sS https://starship.rs/install.sh | sh -s -- -y; then
        echo "Error: starsip install failed"
        exit 1
    fi
fi

# Add COPR for mise if not already enabled
if ! sudo dnf repolist | grep -q "jdxcode/mise"; then
    echo "Enabling COPR repository for mise..."
    if ! sudo dnf -y copr enable jdxcode/mise; then
        echo "Error: failed to enable COPR for mise"
        exit 1
    fi
else
    echo "COPR repository for mise already enabled"
fi

echo "Installing packages..."

if ! sudo dnf install -y {{ .packages.fedora | join " " -}}; then
    echo "Error: dnf failed to install packages"
    exit 1
fi

echo "Finished installing all packages"
exit 0
{{ end -}}
