font-family = "FiraCode Nerd Font Mono, Medium"
theme = "TokyoNight Moon"
mouse-hide-while-typing = true
window-height = 40
window-width = 100
window-padding-x = 10

{{- if eq .chezmoi.os "darwin" }}
font-size = 16
command = /opt/homebrew/bin/fish --login --interactive
macos-option-as-alt = true
{{ else }}
font-size = 12
command = /usr/bin/fish --login --interactive
window-decoration = false
{{- end }}

shell-integration = fish
